.nav-shadow {
  box-shadow: 0 4px 2px -2px gray;
}

nav ul > li {
  padding-left: 15px;
  padding-right: 15 px;
  text-transform: uppercase;
}

.navbar .navbar-nav li a {
  color: var(--dark-grey);
}

.navbar .navbar-nav li a:hover {
  color: var(--black-color);
}
